// Set your brand colors
$graydark: #5d5d5d;
$graylight: #bababa;
$blue: #105fa8;
$bluedark: #003a70;
$tealdark: #03746e;
$sand: #fffbf2;
$gold: #f5b93c;
$graydarker: #444444;
$beige-lighter: #eff0eb;
$graydarkest: #222222;
$gray: #838383;
$grayligher: #e5e5e5;
$graylightest: #f7f7f7;
$bkgrd-white: #fff;
$bkgrd-graylightest: #f7f7f7;
$bkgrd-sand: #fffbf2;
$bkgrd-tealdark: #03746e;
$bkgrd-blue: #105fa8;
$family-primary: '"Source Sans", sans-serif';
$navbar-item-img-max-height: 90px;

// Map for color usage
$colors: (
  gray-dark: $graydark,
  gray-light: $graylight,
  blue: $blue,
  blue-dark: $bluedark,
  teal-dark: $tealdark,
  sand: $sand,
  gold: $gold,
  gray-darker: $graydarker,
  beige-lighter: $beige-lighter,
  gray-darkest: $graydarkest,
  gray: $gray,
  gray-ligher: $grayligher,
  gray-lightest: $graylightest,
);

// Mixin for flex
@mixin flex-center($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// Mixin for borders
@mixin border($color, $width: 1px, $style: solid) {
  border: $width $style $color;
}

// Mixin for rounded corners
@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

// Mixin for responsive table
@mixin responsive-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0.75rem;

  th,
  td {
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }

  @media (min-width: 48rem) {
    font-size: 0.875rem;
    th,
    td {
      padding: 1rem;
    }
  }

  @media (min-width: 60rem) {
    font-size: 1rem;
    th,
    td {
      padding: 1.5rem 1rem;
    }
  }
}

// Apply Bulma styles
@import "node_modules/bulma/bulma";

// Root variable
:root {
  --roundedFull: 50em;
  --bluedark: $bluedark;
}
html {
  scroll-behavior: smooth;
}
.section {
  padding: 20px;
}
// Apply styles
body {
  background-color: #fff;
  color: #565656;
}
strong {
  color: #444;
}
.borderBlue {
  @include border($blue);
  font-weight: 700;
  color: $blue;
  border: 2px solid $blue;
}
.roundedFull {
  @include rounded(50em);
}

.navbar-dropdown {
  background-color: $grayligher;
  @include rounded;
  a {
    color: $graydarker;

    &.navbar-item {
      color: $graydarker;
    }
  }
}
.navbar-brand {
  background-color: #fff;
}
.navbar-brand .navbar-item svg {
  max-height: $navbar-item-img-max-height;
}
.navbar-end .navbar-item {
  color: #565656;
}
.top-nav {
  padding: 1rem;
}

.navbar-item img {
  max-height: 48px;
}
.entry-header {
  padding: 2.5rem;
  background: $bluedark;
  color: $bkgrd-white;

  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  p,
  .navbar-item {
    font-size: 18px;
  }

  p {
    font-weight: 400;
    color: #fff;
  }

  .navbar-item {
    font-weight: 600;
    color: #fff;
  }

  .container {
    @include flex-center(space-between);
  }
}
.sidebar-item {
  @include border($graydarker);
  @include rounded;
  padding: 20px;
  margin-bottom: 20px;

  .button {
    width: 100%;
    margin-top: 1rem;
  }

  p {
    font-size: 14px;
    color: #5d5d5d;
  }

  a {
    text-align: center;
    margin: 10px auto;
    display: table;
  }
}
.sidebar-item:last-of-type {
  margin-bottom: 0;
}

.button.white {
  background-color: #fff;
}
.textWhite {
  color: $bkgrd-white;
}
.textBlue,
a.textBlue {
  color: $blue;
}
.moomModal h2,
.borderBlue h2 {
  color: $graydarker;
  font-weight: bold;
  font-size: 28px;
}
h2,
h2.title {
  color: #444;
}
h3 {
  color: $graydark;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;

  &.tealDark {
    color: $tealdark;
  }

  &.h3-xl {
    font-size: 26px;
  }
}
.sidebar-area h3 {
  font-weight: bold;
}

h4 {
  color: $graydarker;
  font-weight: 700;
  margin: 10px 0;
  font-size: 14px;
}

h5 {
  font-weight: bold;
  margin-top: 20px;
}

// Modals

//Modal Presenation only //
.modalDemoBorder {
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
}
.modalDemoBorder h1 {
  margin-bottom: 30px;
}

//////// ******* end presentation ****** ////////
.splashModal {
  border-radius: 9px;
}
.moomModal {
  padding: 60px 40px;
  border-radius: 9px;
}
.moomModal label {
  font-size: 16px;
  text-align: center;
}
.moomModal input {
  background-color: #fff;
  margin: 20px auto 10px;
  border: solid 2px #fff;
  min-height: 48px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-weight: bold;
  color: #000;
  border-radius: 6px;
  font-size: 18px;
  display: block;
}
.edit .moomModal input {
  margin: 5px auto 20px;
}
.moomModal button {
  padding: 12px 180px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .moomModal input {
    width: 100%;
  }
  .moomModal button {
    width: 100%;
    padding: 12px 0;
  }
}

.edit .moomModal input {
  background-color: #f5f5f5;
  color: #000;
}
.editButtonGroup {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin: 0 auto;
}
.editButtonGroup button {
  padding: 12px;
  width: 100%;
  margin: 10px;
}
.button.iconButton {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  width: 100%;
  max-width: 278px;
  min-height: 54px;
}
label.helperText,
.helperText {
  font-size: 12px !important;
  text-align: center !important;
}
.moomModal button {
  display: block;
  font-weight: bold;
  margin: 10px auto;
}
.value {
  font-size: 24px;
  color: $blue;
  font-weight: bold;
  margin: 20px auto;
}
input[type="range"] {
  width: 100%;
  max-width: 300px;
}
input[type="number"] {
  width: 100px;
  margin: 10px auto;
  display: block;
}
::placeholder {
  color: #444;
}

.radio-group {
  margin-bottom: 20px;
}
.radio-group p {
  margin: 20px auto;
  color: #565656;
}
.radio-group label {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.radio-group input[type="radio"] {
  display: none;
}
.radio-group input[type="radio"] + label {
  padding: 12px 60px;
  border: 2px solid $blue;
  border-radius: 6px;
  color: $blue;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  line-height: 1;
}
.radio-group input[type="radio"]:checked + label {
  background-color: $blue;
  color: #ffffff;
}
.radio-group label:hover {
  background-color: $blue;
  color: #ffffff;
}
.moomSelect {
  width: 100%;
  max-width: 500px;
  min-height: 48px;
  border: 2px solid #fff;
  display: block;
  border-radius: 6px;
  margin: 20px auto;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
.moomSelect option {
  text-align: center;
}

// lists

ul.moom-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styles for each list item */
ul.moom-bullets li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

ul.moom-bullets li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Center the bullet vertically */
  font-size: 1.5em;
  color: $blue;
}

.centerText {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.content-area,
.sidebar-area {
  flex: 1;

  .title {
    margin-bottom: 5px;
    color: #444;
  }

  img {
    width: 100%;
  }
}

.cta {
  display: block;
  margin: 20px auto;
  align-items: center;

  a {
    display: table;
    margin: 20px auto 0;
    padding: 7px 15px;
  }
}

.tel {
  text-decoration: underline;
}

.realtor {
  @include flex-center;
  padding: 20px;
  font-size: 14px;
  gap: 10px;

  img {
    width: 40px;
  }
}

.bkggray {
  background-color: $graylightest;
}
.bkgwhite {
  background-color: $bkgrd-white;
}
.bkgblue {
  background-color: $bluedark;
}

.myHome {
  background-color: $bluedark;
  color: $bkgrd-white;
  padding: 12px 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  @include rounded(3px);
  font-size: 32px;
}

.moreInfo {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.confidence {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex {
  @include flex-center(space-between);
}

.edit {
  background-color: $grayligher;
  color: $graydarker;
}

.button {
  white-space: normal; /* Allows the text to wrap */
  word-wrap: break-word; /* Breaks long words */
  overflow: hidden; /* Prevents overflowing */
  display: inline-block; /* Ensures button respects its container's width */

  &.moom {
    background-color: $blue;
    color: $bkgrd-white;

    &:hover {
      background-color: $bluedark;
    }
  }
}

.p-15 {
  padding: 0 15px;
}

.p-30 {
  padding: 0 30px;
}

.underlined {
  text-decoration: underline;
}

.graydarker {
  color: $graydarker;
}

.blueDark {
  color: $bluedark;
}

.blue {
  color: $blue;
}

.gold {
  color: $gold;
}

.bullet {
  margin-right: 10px;
}
.breakdown {
  font-size: 14px;
}
.container table {
  margin: 30px 0;
  border-collapse: separate;
  color: #5d5d5d;
}
.comparison-table,
.comparison-table tr:first-of-type th:first-of-type {
  border-top-left-radius: 9px;
}

.comparison-table,
.comparison-table tr:first-of-type th:last-of-type {
  border-top-right-radius: 9px;
}

.comparison-table,
.comparison-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 9px;
}

.comparison-table,
.comparison-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 9px;
}

.is-centered {
  text-align: center;
  margin: 10px auto;
}

.is-small {
  font-size: 8px;
  color: #5d5d5d;
}

.sidebar-icon {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 60px;
}
.iconGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  min-height: 100px;

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 10px;

    img {
      max-width: 60px;
      height: auto;
    }

    span {
      display: block;
      margin-top: 8px;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis; // Add ellipsis if text is too long
      width: 100%;
      min-height: 40px;
      text-align: center;
    }
  }
}

.disclaimer {
  margin: 20px 0;
}

// Tables
.comparison-table {
  @include responsive-table;
  th {
    color: #444;
  }
  th:nth-child(2n) {
    /* box-shadow: 0 0 2rem hsla(0, 0%, 0%, 0.15); */
  }

  th:nth-child(2n),
  td:nth-child(2n) {
    position: relative;
    background: #ddd;
  }

  td:not(:first-child) {
    text-align: center;
  }
}

// Mobile Menu
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;

  &.is-active {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.6s forwards ease-in-out;
  }

  .navbar-end {
    align-items: center;
    &.is-active {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .navbar-item {
    display: inline-block;
    background-color: #fff;
  }

  /* Hide the items after the first three by default on larger screens */
  .navbar-item:nth-child(n + 4) {
    display: none;
  }

  /* Media query for small screens */
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;

    /* Hide all navbar items by default on small screens */
    .navbar-item {
      display: none;
    }

    /* Show all items when the navbar-burger is active */
    &.is-active {
      .navbar-item {
        display: block;
        width: 100%; /* Ensure full width for centering */
        text-align: center;
        opacity: 0;
        transform: translateY(10px);
        animation: fadeIn 0.6s forwards ease-in-out;
      }

      /* Show the first two items side by side */
      .navbar-item:nth-child(1),
      .navbar-item:nth-child(2) {
        width: auto; /* Allow them to be side by side */
        margin-right: 0rem;
        text-align: center; /* Align text to the left */
        opacity: 1;
        transform: translateY(0);
      }
      /* Create a flex container for the first two items to center them */
      .navbar-menu.is-active .navbar-item:nth-child(1)::after,
      .navbar-menu.is-active .navbar-item:nth-child(2)::after {
        content: "";
        display: inline-block;
        width: 50%; /* Ensure equal space to center */
      }
      .navbar-menu.is-active .navbar-item:nth-child(1)::before,
      .navbar-menu.is-active .navbar-item:nth-child(2)::before {
        content: "";
        display: inline-block;
        width: 50%;
      }
      /* Center the first two items together */
      .navbar-menu.is-active .navbar-item:first-of-type {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      /* Center and stack items from the third onwards */
      .navbar-item:nth-child(n + 3) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* General visibility for .navbar-two */
.navbar-two {
  display: none; /* Hide by default */
}
.navbar-two .navbar-dropdown.is-boxed a {
  color: $graydarker;
  font-weight: 600;
}

/* Media query for large screens */
@media screen and (min-width: 1025px) {
  .navbar-two {
    display: flex; /* Show .navbar-two on large screens */
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  .entry-title p {
    max-width: 75%;
  }
}
// fix dropdown
/* General styles for .navbar-dropdown-menu */

/* Show dropdown when it has the .is-active class */
.navbar-dropdown-menu.is-active {
  display: block; /* Display dropdown when active */
}

/* Highlight dropdown item on hover or focus */
.navbar-dropdown-menu a.navbar-item {
  padding: 10px;
  &:hover,
  &:focus {
    background-color: #363636; /* dark gray (graydarker) */
    color: #fff; /* white text */
    outline: none; /* Remove default outline */
  }
}
.relativeDropdown {
  position: relative;
}

.dropdownButton {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  height: auto;
  max-width: 200px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 12px;
}

/* Make sure the button remains consistent across different screen sizes */
@media screen and (max-width: 1024px) {
  .dropdownButton {
    min-width: 100px;
  }
}

/* Ensure the dropdown-menu aligns properly with the button */
.navbar-dropdown-menu {
  left: 0; /* Align with the left edge of the button */
  top: 100%; /* Position below the button */
}

/* General styles for .navbar-dropdown-menu */
.navbar-dropdown-menu {
  background-color: #e5e5e5;
  border-radius: 6px; /* Rounded corners */
  min-width: auto; /* No minimum width constraint */
  max-width: 200px; /* Optional: Set a maximum width for the dropdown */
  position: absolute; /* Absolute positioning */
  z-index: 1000; /* Ensure it appears above other elements */
  margin-top: 0.5rem; /* Space between the button and the dropdown */
  display: none; /* Initially hide the dropdown */
  left: 0; /* Align with the left of the parent */
  top: 100%; /* Position below the button */
  transform: translateX(0); /* No horizontal shift */
  width: auto; /* Automatically adjust to content width */
}

/* Show dropdown when it has the .is-active class */
.navbar-dropdown-menu.is-active {
  /* Display dropdown when active */
}

/* Highlight dropdown item on hover or focus */
.navbar-dropdown-menu a.navbar-item {
  padding: 10px;
  color: #444;
  &:hover,
  &:focus {
    background-color: hsla(221, 14%, calc(100% + -5%), 1);
    outline: none; /* Remove default outline */
    color: #444;
  }
}
.footer-widgets .sidebar-item {
  margin-bottom: 0;
}
.footer-widgets .sidebar-item p {
  font-size: 14px;
  min-height: 44px;
  color: #5d5d5d;
}
.footer-widgets .sidebar-item h3 {
  min-height: 58px;
}

// Accordions
.accordion-trigger {
  color: $bluedark;
  font-weight: bold;
}
.accordion {
  display: none;
}
.accordion.active {
  display: block;
}

.flexbox-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
